@import '@fortawesome/fontawesome-free/css/all.min.css';
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c3400;
  padding: 10px 20px;
 
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20%;
}

.nav-list li {
  position: relative;
}

.nav-list a,
.nav-list button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

/* Estilo do ícone de notificações */
.notifications-container {
  position: relative;
}

.notifications-icon {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.notification-badg {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: rgb(228, 7, 7);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown das notificações */
.notifications-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: rgb(196, 8, 8);
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.notification-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.notification-item:last-child {
  border-bottom: none;
}

.no-notifications {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

/* Botão de logout */
.logout-button {
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
}
