/* Navegacao.css */
.navegacao {
  background-color: #141414;
  color: #ffffff;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  text-decoration: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1e90ff; /* Cor de destaque ao passar o mouse */
}
